doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    .main__buttons
      a.button__main(href="/") Главная
      a.button__show(href="/bookings") Посмотреть бронирования
      a.button__add(href="/add_user") Добавить пользователя
    script(src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous")
    script(src="/javascripts/app.js")
