extends layout

block content
    h1.orders__header Пользователи
    table.orders__table(cellspacing="5" cellpadding="10")
        tr
            th Name
            th Date of registration
            th Is administrator
        if users
            each user in users
                tr
                    td #{user.Name}
                    td #{user.DateOfRegistration}
                    td #{user.IsAdmin}
                    td.order__id_cell
                        a.order__delete_btn(href="#" data-order_id="#{user.UserInfoID}") Delete